#page-header {
    color: white;
}
.container-fluid {
    color: black;
    font-size: 16px;
    background-color: #fdfdfd;
}

#page-header div {
    height: 60px;
    font-size: 16px;
    background-color: #00857c;
}
#bi-exit::before {
    font-size: 16px;
}

div.need-border {
    border-right: white;
    border-right-width: 2px;
    border-right-style: solid;
    height: 44px !important;
}

div.header-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-text-center {
    display: flex;
    align-items: center;
}

div#proj-name-zh {
    height: 35px !important;
    font-size: 18px !important;
}

div#proj-name-en {
    height: 25px !important;
    font-size: 14px !important;
}

div.vertical-sep {
    font-size: 45px !important;
    font-weight: lighter !important;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:visited {
    color: white;
}

.glyphicon {
    top:0;
}
a.glyphicon {
    font-size: 16px;
}

#usr-logo, #logo {
    top:0;
    right: 30px;
    font-size: 20px!important;
}
.nav-row {
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
}
#up-nav{
    height: 70px;
}
ul#up-nav li a {
    font-size: 18px;
    color:Black!important;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ul#up-nav li a:link {*/
/*    background-color: #ffffff;*/
/*}*/
li.active {
    text-decoration: underline;
}
.input-row, .show-file-row {
    margin-left: 3%;
    margin-right: 3%;
}
.show-file-row h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
.thead-center tr th {
    background-color: #e7e7e7;
    text-align: center!important;
}