#history-row{
    height: 260px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px lightgray solid;
}
#user-guide-row {
    padding-left: 50px;
    padding-right: 50px;
}

#history-row h1, #user-guide-row h1 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-left: 30px;
}
div.one-proj {
    width: 200px;
    height: 80px;
    margin-bottom: 15px;
    box-shadow:0 0 5px 2px #00857c;
}
div.one-proj:hover {
    box-shadow:0 0 12px 2px #00857c;
    font-weight: bolder;
    text-decoration: none;
}
div.one-proj a {
    color:black;
}
.one-guide {
    width: 200px;
    height: 250px;
}

.index {
    height: 40px;
    width: 40px;
    background-color: #00857c;
    border-radius: 50%;
}
.hint {
    height: 30px;
}
.one-intro {
    width: 160px;
    height: 160px;
    box-shadow:0 0 5px 2px gray;
}
div.one-intro:hover {
    box-shadow:0 0 12px 2px gray;
    font-weight: bolder;
}
.one-intro div.glyphicon {
    top:10px ;
}
.intro-detail {
    position: relative;
    top: 15px;
    font-size: 14px;
}

/*#page-header a:hover{*/
/*    text-decoration: underline;*/
/*}*/
/*#top-navbar a:hover{*/
/*    text-decoration: underline;*/
/*}*/

#page-header .bi-robot::before {
    font-size: 20px;
}
